/* basic typography */
h2 {
    border-radius:4px;
    margin-top:0;
    font-size:1.6rem;
    font-weight:normal;

}
a img {border:none;}
a[href] {
    color: #5F65C2;
    text-decoration:none;
}
a:hover {color: #5C2BBA;}

/* System's footer overrides*/
#footer {
    position: unset;
    padding: 0;
}

/* mainpage gridded table */
#mainpage {
    display:grid;
}
#mainpage td {
    background-color:white;
    padding:5px;
}
/* grid-bar*/
.sidebar1 {
    grid-area: sidebar1;
}

.sidebar2 {
    grid-area: sidebar2;
}

.sidebar3 {
    grid-area: sidebar3;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}
/* mainpage gridding 
 * can be created programatically? */
.wrapper {
    background-color: #fff;
    color: #444;
    margin-top:10px;
    margin-right:0px;
    display: grid;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size:80%;
}

.header,
.footer {
  background-color: #999;
}

.sidebar1 {
  background-color: #ccc;
  color: #444;
}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}

.sidebar3 {
  background-color: #ccc;
  color: #444;
}


/*mainpage grid div elements*/
.rightbox {
    float:right;
    padding:10px;
    margin:5px;
}
.leftbox {
    float:left;
    padding:10px;
    margin:5px;
}
.downbox {
    padding-left:10px;
    margin:5px;
}
.centerbox {
    padding:10px;
    margin:5px;
    text-align:center;
}
.boxborder {
    border:1px solid #e3e3e3;
    border-radius:10px;
}
.boxborder:hover {
    background-color:#f5f5f5;
}
.boxul {
    padding:0 0 0 10px;
    list-style-type:none;
}
.boxul .blarge {
    font-size:150%;
}
.register {
    display:table-cell;
    text-align:right;
    padding:10px 30px 0 10px;
    white-space: nowrap;
}



body[data-page="mainpage"] #body {
    margin: 0 30px;
}
.wrapper {
    margin-right: 0;
}
.projekt_nyilvantarto {
    grid-area: projekt_nyilvantarto;
    background-color: #f6f6f6;
    color: #444;
}
.projekt_nyilvantarto #new-project {
    float: right;
}

#projekt_nyilvantarto-gombok {
    margin: 5px auto;
}
#projekt_szerkeszto .pure-u-1 {
    padding: 0 5px;
}
#project_mentes {
    background-color: #b8e356;
}
#felirat,
#bheader .htitle p {
    font-size: 200%;
}
.ms-container{background:transparent url("../img/switch.png") no-repeat 50% 50%;width:370px}.ms-container:after{content:".";display:block;height:0;line-height:0;font-size:0;clear:both;min-height:0;visibility:hidden}.ms-container .ms-selectable,.ms-container .ms-selection{background:#fff;color:#555555;float:left;width:45%}.ms-container .ms-selection{float:right}.ms-container .ms-list{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-ms-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;position:relative;height:200px;padding:0;overflow-y:auto}.ms-container .ms-list.ms-focus{border-color:rgba(82,168,236,0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);outline:0;outline:thin dotted \9}.ms-container ul{margin:0;list-style-type:none;padding:0}.ms-container .ms-optgroup-container{width:100%}.ms-container .ms-optgroup-label{margin:0;padding:5px 0px 0px 5px;cursor:pointer;color:#999}.ms-container .ms-selectable li.ms-elem-selectable,.ms-container .ms-selection li.ms-elem-selection{border-bottom:1px #eee solid;padding:2px 10px;color:#555;font-size:14px}.ms-container .ms-selectable li.ms-hover,.ms-container .ms-selection li.ms-hover{cursor:pointer;color:#fff;text-decoration:none;background-color:#08c}.ms-container .ms-selectable li.disabled,.ms-container .ms-selection li.disabled{background-color:#eee;color:#aaa;cursor:text}

.sidebar1 .box-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

.sidebar1 .boox {
    padding:10px;
    margin:5px;
}
.sidebar1 .most-data .tbl-cell {
    padding: 0 5px;
}
.last_data {
    grid-area: last_data;
    background-color: #eee;
    color: #444;
}





/* pure buttons */
.button-success,
.button-passive,
.button-error,
.button-warning,
.button-secondary,
.button-href {
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: solid #1a1a1a 1px;
    font-size:0.8rem;
}
.button-success {
    background-color: rgb(159, 198, 81); /* this is a green */
    border: solid #8BAD47 1px;     
    color:#3f3f3f;
}
.button-href {
    border: solid #c3c3c3 1px !important;  /* this is a green */
    color: #5a5a5a !important;
    text-shadow:none;
    text-decoration:none !important;
}
.button-xsmall {
    font-size: 60% !important;
}
.button-small {
    font-size: 80% !important;
}
.button-large {
    font-size: 110% !important;
}
.button-xlarge {
    font-size: 120% !important;
    font-weight:bold;
}
.button-xxlarge {
    font-size: 135% !important;
    font-weight:bold;
}


/* mainpage gridded table */
#mainpage {
    display:grid;
}
#mainpage td {
    background-color:white;
    padding:5px;
}
/* grid-bar*/
.sidebar1 {
    grid-area: sidebar1;
}

.sidebar2 {
    grid-area: sidebar2;
}

.sidebar3 {
    grid-area: sidebar3;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}
/* mainpage gridding 
 * can be created programatically? */
.wrapper {
    background-color: #fff;
    color: #444;
    display: grid;
    margin-top:10px;
    margin-right:0px;
    margin-left:2px;
    margin-bottom: 10px;
    background: #f2f2f2;
    margin: 0;
    padding: 5px 2px 10px 2px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size:80%;
}

.header,
.footer {
  background-color: #999;
}

.sidebar1 {
  background-color: #ccc;
  color: #444;
}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}

.sidebar3 {
  background-color: #ccc;
  color: #444;
}


/*mainpage grid div elements*/
.rightbox {
    float:right;
    padding:10px;
    margin:5px;
}
.leftbox {
    float:left;
    padding:10px;
    margin:5px;
}
.downbox {
    padding-left:10px;
    margin:5px;
}
.centerbox {
    padding:10px;
    margin:5px;
    text-align:center;
}
.boxborder {
    border:1px solid #e3e3e3;
    border-radius:10px;
}
.boxborder:hover {
    background-color:#f5f5f5;
}
.boxul {
    padding:0 0 0 10px;
    list-style-type:none;
}
.boxul .blarge {
    font-size:170%;
}
.register {
    display:table-cell;
    text-align:right;
    padding:10px 30px 0 10px;
    white-space: nowrap;
}
#header-row {
    font-size:1rem;
}
.tbl {
    display:table;
}
.tbl-row {
    display:table-row;
}
.tbl-h {
    display:table-header-group;
}
.tbl-cell {
    display:table-cell;
}
/* very small screens */
@media only screen and (max-width: 600px) {
    #header-row {
        font-size:0.4rem;
    }
}
@media only screen and (min-width: 600px) {
        font-size:0.5rem;
}
@media only screen and (min-width: 900px) {    
        font-size:0.7rem;
}
@media only screen and (min-width: 1200px) {    
        font-size:0.9rem;
}
/* mobile specific */
@media only screen and (hover: none) and (pointer: coarse) {
        font-size:0.7rem;
}



